* {
  box-sizing: border-box;
}

.main {
  font-family: "Inter";
  font-weight: 400;
  color: #293241;
  grid-gap: 20px;
  display: grid;
  grid-template-areas:
  "nav-bar  nav-bar"
  "items  name"
  "items payment"
  "subtotal subtotal"
  "button  button";
}

.group {
    grid-area: nav-bar;
    background: #98c1d9;
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .brand {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 70px;
    float: left;
    color: #ee6c4d;
    }

.picture-size {
    max-width: 20%;
    max-height: auto;
    float: right;
}

.items{
    grid-area: items;
    background: #98c1d9;
    margin-bottom: 200px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #000000;
  }

.name {
    grid-area: name;
    background: #98c1d9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #000000;
  }

.payment {
    grid-area: payment;
    background: #98c1d9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #000000;
  }

.subtotal {
    margin-top: 100px;
    grid-area: subtotal;
    margin-left: auto;
    margin-right: auto;
  }

.button {
    grid-area: button;
    text-align: center;

  }

button {
    font-size: 16px;
    border: 5;
    background-color: #98c1d9;
    border-radius: 30px;
    border-color: #293241;
    padding: 12px 300px;
    margin-top:30px;
    margin-bottom: 20px;
}

body {
  background: #e0fbfc;
}

.frames {
  justify-content: space-around;
}

table {
    width: 100%;
    text-align: left;
    justify-content: start;
}

.example-group {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 30px;
  }

.example-input {
    background-color: #98c1d9;
    border-color: #293241;
    padding: 15px 100%;
    border-radius: 30px;
  }

.input-label {
    background-color: #98c1d9;
    color: #293241;
    font-size: 12px;
    position: absolute;
    left: 25px;
    top: -7.5px;
    padding: 2px;
  }

::placeholder { 
   color: #293241;
   font-size: 12px;
}

h3 {
    font-size: 20px;
    margin-left: 20px;
}